.form-input {
    margin-top: 20px;
}

.form-button {
    margin-left: 220px;
    margin-top: 40px;
    width: 100px;
}

.form-label{
    font-size: 30px;
}

body {
    background-image:url("./../../../assets/image/reg.jpg");
    background-size: 100% ;  
    background-size:cover;
}