<!-- <re-captcha (resolved)="resolved($event)" siteKey="6Lc32t0aAAAAAOrgeyzm6QtKLgAlaUSjzMDOBX7r" >

    </re-captcha>
     -->

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row form-input">
                <div class="col-md-3 form-label">
                    <label >First Name:</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" [(ngModel)]>
                </div>
            </div>
            <div class="row form-input">
                <div class="col-md-3 form-label">
                    <label >Last Name:</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row form-input">
                <div class="col-md-3 form-label">
                    <label > Address:</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row form-input">
                <div class="col-md-3 form-label">
                    <label > Password:</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row form-input">
                <div class="col-md-3 form-label">
                    <label > Gender:</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row form-input">
                <div class="col-md-3 form-label">
                    <label > Email:</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div>
                <button class="form-button btn btn-primary" (click)="save()">Save</button>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>