<div class="container">
    <div >
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="form-group">
                <label class="modal_label">Name</label>
                <input type="text"  placeholder="Enter Name" class="form-control">
            </div>
            <div class="form-group">
                <label class="modal_label">Mobile</label>
                <input type="number" placeholder="Enter Mobile Number" class="form-control ">
            </div>
            <div class="form-group">
                <label class="modal_label">Email Id</label>
                <input type="email" placeholder="Enter Email Id" class="form-control ">
            </div>
            <div class="form-group">
                <label class="modal_label">Message</label>
                <input type="text"  placeholder="Message" class="form-control ">
            </div>

        <div class="form-group">
            <button type="button"  class="btn request_modal_btn"><i class="fa fa-paper-plane"></i>&nbsp; Send Request</button>
        </div>
    
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
</div>
