.form-group {
    margin-bottom: 15px;
}

.modal_label {
        margin-left: -165px;
}

.request_modal_btn {
    background-color: #01445e;
    border-color: #01445e;
    border-radius: 2px;
    width: 100%;
    color: white;
    transition: 0.4s;
}